<div>
  <h1>{{ ctrl.product.title }}</h1>
  <p>
    Seller: <b>starmotors</b> (135) 100% Positive feedback
  </p>
</div>

<div class="col-sm-12 col-md-9">
  <p><b>Max Bid</b>: {{ ctrl.product.minimalPrice | currency }}</p>
  <p><b>Reserved Price</b>: {{ ctrl.product.reservedPrice | currency }}</p>
  <p><b>Quantity</b>: {{ ctrl.product.quantity }}</p>
  <p><b>Time left</b>: {{ ctrl.product.auctionEndTime | fromNow }}</p>
</div>

<div class="col-sm-12 col-md-3">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <input type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <button ng-click="ctrl.placeBid()" class="btn btn-default btn-block btn-primary">Place bid</button>
    </div>
  </form>
</div>

<div class="col-xs-12"><b>Item's description</b>:  {{ ctrl.product.description }}</div>
