<div class="row well">
  <div class="col-xs-12 col-sm-10">
    <ol class="breadcrumb" style="margin-bottom:0;">
      <li><a href="javascript:void(0);">Home</a></li>
      <li>Category title</li>
      <li class="active">Item</li>
    </ol>
  </div>

  <div class="col-xs-12 col-sm-2">
    <button ng-hide="ctrl.isSearchFormVisible" ng-click="ctrl.isSearchFormVisible = true"  class="btn btn-default btn-block">Find more</button>
    <button ng-show="ctrl.isSearchFormVisible" ng-click="ctrl.isSearchFormVisible = false" class="close" aria-hidden="true">&times;</button>
  </div>

  <div ng-show="ctrl.isSearchFormVisible">
    <auction-search-form ng-controller="SearchFormController as ctrl"></auction-search-form>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-sm-6 col-lg-5 text-center">
    <auction-product-gallery></auction-product-gallery>
  </div>

  <div class="col-sm-6 col-lg-7">
    <auction-product-properties></auction-product-properties>
  </div>
</div>
